*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/fonts-manifest.dev.json
/public/hot
/releases/android/*.apk
/public/storage
/storage/*.key
/storage/pail
/vendor
/database/*.sql
/mobile-android/.gradle
/mobile-android/**/build
/mobile-android/local.properties
*.jks
*.keystore
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
